@import '../../styles/_variables.scss';

.container {
    background-color: $primary-color ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem;
    padding: 0rem;
}