@import '../../styles/_variables.scss';

.container {
    display: flex;
   
}
.togglePlay {
    // background: url(../assets/play.svg) no-repeat center center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        // background: url(../images/play.svg) no-repeat center center;
        background-size: 100% 100%;
        transform: scale(1.1);
    }
    &.playing {
        // background: url(../images/pause.svg) no-repeat center center;
        background-size: 100% 100%;
    }
}