.togglePlay {
    // background: url(../assets/play.svg) no-repeat center center;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0px solid #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        // background: url(../images/play.svg) no-repeat center center;
        background-size: 100% 100%;
        border: 1px solid #000;
        transform: scale(1.1);
    }
    &.playing {
        // background: url(../images/pause.svg) no-repeat center center;
        background-size: 100% 100%;
    }
}