.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    
    &:hover,
    &:active {
        // transform: translateZ(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.26);
    }

    img {
        width: 20%;
        height: 20%;
        object-fit: contain;
        border-radius: 0.5rem;
    }
}