@import '../../styles/variables.scss';

.container {
    background-color: gray ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem;
    padding: 0rem;

    .header {
        font-size: large;
        color: $off-white;
    }
    
    .article {
        width: 50vw;
    
        font-size: medium;
        color: $off-white;
        
    }
}
